<launch>
  <param name ="/use_sim_time" value="true"/>
  
  <arg name="odom_frame_id" default="odom"/>
  <arg name="base_frame_id" default="mobile_base_body_link"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odometry" />
  <arg name="laser_topic" default="scan_filtered" />
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="2d_nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="2d_nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="2d_nav/local_costmap_params.yaml" command="load" />
    <rosparam file="2d_nav/global_costmap_params.yaml" command="load" />
    
    <rosparam file="2d_nav/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="2d_nav/move_base_params.yaml" command="load" />
    <rosparam file="2d_nav/global_planner_params.yaml" command="load" />
    <rosparam file="2d_nav/navfn_global_planner_params.yaml" command="load" />
    <rosparam file="2d_nav/prohibition_areas_sim.yaml" command="load" ns="global_costmap" />
    
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>
    
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
  </node>

  <node pkg="costmap_2d" type="costmap_2d_markers" name="publish_voxel_markers" clear_params="true">
    <remap from="voxel_grid" to="/move_base/local_costmap/obstacle_layer_3d/voxel_grid"/>
    <remap from="visualization_marker" to="voxel_markers"/>
  </node>
</launch>

